$primary-color: rgba(39, 174, 96,1.0);
$secondary-color: orangered;
$font-color: #555;
$font-color-completed: #999;
$opacity: .85;

$spacing-base: 2rem;

@import url('https://fonts.googleapis.com/css?family=Delius');

$font-stack: 'Delius', cursive;
